<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>Bet for Coke!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Default Description" />
<meta name="keywords" content="Magento, Varien, E-commerce" />
<meta name="robots" content="INDEX,FOLLOW" />
<script type="text/javascript">
	
</script>

<link rel="stylesheet" type="text/css" href="/image/reset.css"
	media="all" />
<link rel="stylesheet" type="text/css" href="/image/styles.css"
	media="all" />
<link rel="stylesheet" type="text/css" href="/image/clears.css"
	media="all" />
<link rel="stylesheet" type="text/css" href="/image/print.css"
	media="print" />
</head>
<body class="cms-index-index cms-home">
<div class="wrapper">
<div class="page">{% include 'top.html' %}
<div class="main col1-layout">
<div class="main-border">
<div class="col-main">
<div class="home-content-wrapper">
<div class="home-col-1">
<h2>Lega!</h2>
<ul>
	<li><a href="/lega/uefa">欧冠</a></li>
	<li><a href="/lega/premier">英超</a></li>
	<li><a href="/lega/legaA">意甲</a></li>
	<li><a href="/lega/lfp">西甲</a></li>
	<li><a href="/lega/afc">亚冠</a></li>
	<li><a href="/lega/csl">中超</a></li>
</ul>
</div>
<div class="home-col-2">
<h2>Admin Login</h2>
<form id="loginForm" action="/adminLogin/" method="post">
{% csrf_token %}
<table class="products-grid bestselling" id="products-grid-table">
	<tbody>
		<tr>
			<td><label for="username">username:</label> <input
				name="username" id="username"
				class="input-text required-entry validate-email" type="text" /></td>
		</tr>
		<tr>
			<td><label for="password">password:</label> <input
				name="password" id="password"
				class="input-text required-entry validate-email" type="password" />
			</td>
		</tr>
		<tr>
			<td>
			<button type="submit" class="button"><span>Submit</span>
			</button>
			</td>
		</tr>
	</tbody>
</table>
</form>
</div>
<div class="clear"></div>
</div>
</div>
</div>
</div>
{% include 'bottom.html' %}</div>
</div>
</body>
</html>