<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>Bet for Coke!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Default Description" />
<meta name="keywords" content="Magento, Varien, E-commerce" />
<meta name="robots" content="INDEX,FOLLOW" />
<script type="text/javascript">
	
</script>

<link rel="stylesheet" type="text/css" href="/image/reset.css"
	media="all" />
<link rel="stylesheet" type="text/css" href="/image/styles.css"
	media="all" />
<link rel="stylesheet" type="text/css" href="/image/clears.css"
	media="all" />
<link rel="stylesheet" type="text/css" href="/image/print.css"
	media="print" />
</head>
<body class="cms-index-index cms-home">
<div class="wrapper">
<div class="page">{% include 'top.html' %}
<div class="main col1-layout">
<div class="main-border">
<div class="col-main">

<div class="home-content-wrapper">
<div class="home-col-1">{% include 'left.htm' %}</div>
<div class="home-col-2">
<h2>Today's game</h2>

<table class="products-grid bestselling" id="products-grid-table">
	<tbody>
		<tr>
			{% for match in list%}
			<td>
			<h3 class="product-name"><a href="http://www.google.com.hk/search?q={{match.hometeam}}+{{match.awayteam}}"
				title="{{match.hometeam}}vs{{match.awayteam}}"  target="_blank">({{match.lega}}) {{match.hometeam}}vs{{match.awayteam}}</a>
			</h3>
			{% ifequal match.lega "NBA" %}
			<div style="width:130px;height:150px;background:url('/image/lega/nba.png') no-repeat scroll left 2px transparent"></div>
			{% else %}{% ifequal match.lega "中超" %}
			<div style="width:130px;height:150px;background:url('/image/lega/csl.jpg') no-repeat scroll left 2px transparent"></div>
			{% else %}{% ifequal match.lega "意甲" %}
			<div style="width:130px;height:150px;background:url('/image/lega/legaa.jpg') no-repeat scroll left 2px transparent"></div>
			{% else %}{% ifequal match.lega "英超" %}
			<div style="width:130px;height:150px;background:url('/image/lega/premier.jpg') no-repeat scroll left 2px transparent"></div>
			{% else %}{% ifequal match.lega "欧联" %}
			<div style="width:130px;height:150px;background:url('/image/lega/uefa.jpg') no-repeat scroll left 2px transparent"></div>
			{% else %}{% ifequal match.lega "西甲" %}
			<div style="width:130px;height:150px;background:url('/image/lega/lfp.jpg') no-repeat scroll left 2px transparent"></div>
			{% else %}{% ifequal match.lega "亚冠杯" %}
			<div style="width:130px;height:150px;background:url('/image/lega/afc.jpg') no-repeat scroll left 2px transparent"></div>
			{% else %}
			<div style="width:130px;height:150px;background:url('/image/lega/coke.gif') no-repeat scroll left 2px transparent"></div>
			{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}
			<div class="price-box"><span class="regular-price"
				id="product-price-5"><span class="price">{{match.matchtime}}<br/>盘口： {{match.final}}</span>
			</span></div>
			<a href="/bet/{{match.id}}/3">
			<button class="button" onclick="window.location='/bet/{{match.id}}/3'"><span>主</span></button>
			</a>&nbsp;<a href="/bet/{{match.id}}/1">
			<button class="button" onclick="window.location='/bet/{{match.id}}/1'"><span>平</span></button>
			</a>&nbsp;<a href="/bet/{{match.id}}/0">
			<button class="button" onclick="window.location='/bet/{{match.id}}/0'"><span>客</span></button>
			</a></td>
			{% endfor%}
		</tr>
	</tbody>
</table>
</div>
<div class="clear"></div>
</div>
</div>
</div>
</div>
{% include 'bottom.html' %}</div>
</div>


</body>
</html>